$red: #ed1c24;
$black: #191a21;
$yellow: #ffe600;

$font-primary: 'atami';
$font-stencil: 'atami-stencil';
$font-sec: 'din';
$font-cod: 'dincond';

// MIXINS
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue / 16) * 1rem;
}
