$red: #ed1c24;
$black: #191a21;
$yellow: #f9e803;

$font-primary: 'atami';
$font-stencil: 'atami-stencil';
$font-sec: 'din';
$font-cod: 'dincond';

$site-size: 88%;

$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1300px;

// MIXINS
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue / 16) * 1rem;
}
