@import 'variables';

.carrinho {
  .table {
    &__produto {
      display: flex;
      align-items: center;
    }

    &__quantidade {
      input {
        border-color: $black;
        color: $black;
        height: 30px;
        text-align: center;
      }
    }
  }

  &__subtotal {
    font-weight: 500;
    font-family: 'din';
    @include font-size(14);
    margin: 20px 15px 20px 0;
    color: white;
    text-align: right;
    text-transform: uppercase;

    span {
      display: inline-block;
      margin-right: 45px;
    }
  }

  .frete-btn {
    height: 42px;
    display: inline-block;
    line-height: 42px;
    background: red;
    padding: 0 20px;
    text-align: center;
    font-family: 'din';
    font-size: 19px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin-left: 10px;
  }

  &-frete {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20px;
    font-family: 'din';
    font-style: italic;
    font-weight: 300;
    @include font-size(14);

    p {
      margin-right: 6px;
    }

    input {
      padding: 11px 13px;
      font-family: 'din';
      font-style: italic;
      font-weight: 300;
      max-width: 200px;
      width: 100%;
      @include font-size(14);
      border-color: black;
    }

    &__form {
      display: flex;
      align-items: center;
    }
  }

  .frete-result {
    background: white;
    padding: 35px 20px;
    font-family: 'din';
    font-weight: 500;
    @include font-size(14);
    border-top: solid thin $black;
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    width: 100%;

    &__single {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 22px;
    }

    &__check {
      text-align: right;
    }
  }

  .frete-cupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px;
    font-family: 'din';
    color: white;
    @include font-size(14);

    &__form {
      display: flex;

      p {
        margin-right: 10px;
      }

      input {
        background: transparent;
        border: solid thin white;
        max-width: 147px;
        color: white;
        height: 38px;
        padding: 0 12px;
        width: 100% !important;
      }
    }

    &__total {
      font-family: $font-stencil;
      @include font-size(20);
      font-weight: bold;
    }
  }

  &-links {
    text-align: right;
    margin-bottom: 80px;

    a {
      display: inline-block;
      font-family: 'din';
      @include font-size(16);
      font-weight: 500;
      color: $black;
      background-color: $yellow;
      padding: 10px 20px;
      text-transform: uppercase;

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}
