@import 'variables';

.departamentos {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto 1fr;

  @media (min-width:$break-md) {
    grid-column-gap: 60px;
  }

  &__filtro {
    max-width: 255px;

    @media (min-width:$break-md) {
      max-width: 280px;
    }
  }

  &__list {
    margin-bottom: 40px;

    a {
      color: white;
      font-family: 'din';
      padding: 11px 0;
      @include font-size(13);
    }
  }

  .general-title {
    a {
      color: white;
      @include font-size(18);
    }
  }

  .filtro {
    border: none;
    margin-bottom: 38px;

    .general-title {
      span {
        @include font-size(16);
      }

      hr {
        margin-top: 8px;
      }
    }

    &__label {
      display: block;
    }

    select {
      background: transparent;
      border: solid 2px white;
      color: white;
      font-family: 'din';
      font-style: italic;
      font-weight: 300;
      margin-bottom: 8px;
      padding: 8px 15px;
      width: 100%;
      @include font-size(12);
    }

    option {
      color: $black;
    }

    &__btn,
    .btnFilterType {
      background: $red;
      color: white;
      display: inline-block;
      float: right;
      margin-top: 10px;
      padding: 9px 15px;
      text-transform: uppercase;
      @include font-size(12);
    }
  }
}
