@import 'variables';

.departamentos {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 60px;

  &__filtro {
    max-width: 280px;
  }

  &__list {
    margin-bottom: 40px;

    a {
      color: white;
      font-family: 'din';
      @include font-size(13);
      padding: 11px 0;
    }
  }

  .general-title {
    a {
      @include font-size(18);
      color: white;
    }
  }

  .filtro {
    margin-bottom: 38px;
    border: none;

    .general-title {
      span {
        @include font-size(16);
      }

      hr {
        margin-top: 8px;
      }
    }

    &__label {
      display: block;
    }

    select {
      width: 100%;
      padding: 8px 15px;
      background: transparent;
      color: white;
      font-family: 'din';
      @include font-size(12);
      font-weight: 300;
      font-style: italic;
      margin-bottom: 8px;
      border: solid 2px white;
    }

    option {
      color: $black;
    }

    &__btn,
    .btnFilterType {
      padding: 9px 15px;
      color: white;
      @include font-size(12);
      text-transform: uppercase;
      background: $red;
      margin-top: 10px;
      display: inline-block;
      float: right;
    }
  }
}
