@import 'variables';

.footer {
  padding-bottom: 38px;
  padding-top: 40px;
  border-top: solid 1px $yellow;
  display: grid;
  grid-template-columns: auto;

  @media (min-width: $break-sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $break-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__title {
    color: $yellow;
    font-family: $font-stencil;
    font-weight: bold;
    text-transform: uppercase;
    @include font-size(18);
  }

  &__institucional {
    margin-bottom: 50px;

    @media (min-width: $break-sm) {
      margin-bottom: 0;
    }

    a {
      color: white;
      text-transform: uppercase ;
      display: block;
      font-family: 'din';
      font-weight: 300;
      @include font-size(13);
    }
  }

  &__formas {
    h4 {
      color: $yellow;
      font-family: 'din';
      font-style: italic;
      font-weight: 300;
      margin-bottom: 10px;
      @include font-size(14);
    }

    .entregas {
      margin-bottom: 45px;
      margin-top: 43px;

      img {
        max-width: 230px;
        width: 100%;
      }
    }
  }

  &__info {
    margin-top: 50px;

    @media (min-width: $break-md) {
      text-align: right;
      margin-top: 0;
    }

    img {
      max-width: 170px;

    }
  }

  &-news {
    margin-bottom: 46px;
    margin-top: 50px;

    &__form {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: auto auto auto;
    }

    &__input {
      input {
        background: transparent;
        border-color: white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: white;
        font-family: 'din';
        padding: 12px 15px;
        width: 100%;
        max-width: 140px;
        @include font-size(15);

        &::-webkit-input-placeholder {
          color: white;
        }

        &:-ms-input-placeholder {
          color: white;
        }

        &::-ms-input-placeholder {
          color: white;
        }

        &::placeholder {
          color: white;
        }

        &:-ms-input-placeholder {
          color: white;
        }

        &::-ms-input-placeholder {
          color: white;
        }
      }
    }

    &__btn {
      background-color: white;
      border: solid 1px white;
      color: $black;
      font-family: 'din';
      font-weight: 500;
      padding: 12px 15px;
      @include font-size(15);
    }
  }

  &-contato {
    color: white;
    font-family: 'din';
    font-weight: 300;
    @include font-size(13);
  }
}

.footer-sub {
  background-color: $red;
  padding-bottom: 60px;
  padding-top: 70px;

  &__wrapper {
    @media (min-width: $break-sm) {
      display: grid;
      grid-template-columns: 1fr min-content;
    }

    p {
      color: white;
      font-family: 'din';
      font-weight: 300;
      padding-right: 88px;
      @include font-size(14);
    }

    img {
      width: 100px;
    }
  }
}
