@import 'variables';

body {
  background-color: $black;
}

.header {
  padding-top: 60px;
  padding-bottom: 12px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 94%;
  }

  &__toggle {
    background: $red;
    border-radius: 90px;
    cursor: pointer;
    display: inline-block;
    height: 75px;
    padding-top: 1px;
    width: 75px;
    align-self: center;


    &--open {
      .header__bar--primeira {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      .header__bar--segunda {
        opacity: 0;
      }

      .header__bar--terceira {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }

  &__bar {
    background-color: white;
    height: 4px;
    margin: 6px auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 36px;

    &--primeira {
      margin-top: 24px;
    }
  }

  &__logo {
    max-width: 420px;
    align-self: center;

    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }

  &__extra-menu {
    align-self: center;

    a:first-child {
      @include font-size(21);
      color: white;
      outline: none;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      padding: 13px 24px;
      background-color: $red;

      &:hover {
        opacity: 0.8;
      }
    }

    a:nth-child(2){
      background-image: url('../imagens/ic-user.png');
    }
  }
}
