@import 'variables';

body.menu-opened {
  overflow: hidden;
}


.header {
  padding-bottom: 30px;
  padding-top: 17px;
  position: relative;

  @media (min-width: $break-md) {
    padding-top: 30px;
  }

  .menu-top {
    background-color: $red;
    height: 100vh;
    left: -100%;
    opacity: 0;
    padding-top: 135px;
    position: absolute;
    top: -30px;
    transition: 0.4s;
    width: 245px;
    z-index: 1;

    @media (min-width: $break-md) {
      padding-top: 105px;
    }

    &--open {
      left: auto;
      opacity: 1;
    }

    &__item {
      border-bottom: solid 1px white;

      a {
        color: white;
        display: block;
        font-family: $font-stencil;
        font-weight: bold;
        padding: 10px 0 10px 20px;
        text-transform: uppercase;
        @include font-size(12);
      }
    }

    &__footer {
      bottom: 30px;
      left: 30px;
      position: absolute;

      h4 {
        font-family: 'din';
        font-weight: bold;
        margin-bottom: 15px;
        @include font-size(14);
      }

      p {
        font-family: 'din';
        margin-bottom: 10px;
        @include font-size(12);

        span {
          display: block;
          margin-bottom: 30px;
        }
      }

      a {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;

    @media (min-width: $break-md) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__toggle {
    align-self: center;
    background: $red;
    border-radius: 90px;
    cursor: pointer;
    display: inline-block;
    -ms-flex-item-align: center;
    height: 38px;
    padding-top: 1px;
    position: relative;
    width: 38px;
    z-index: 1;

    &--open {
      border: solid 1px white;

      .header__bar--primeira {
        margin-top: 13px;
        transform: rotate(-45deg) translate(-1px, 3px);
      }

      .header__bar--segunda {
        opacity: 0;
      }

      .header__bar--terceira {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }

  &__bar {
    background-color: white;
    height: 1px;
    margin: 6px auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 18px;

    &--primeira {
      margin-top: 10px;
    }
  }

  &__logo {
    align-self: center;
    -ms-flex-item-align: center;
    padding-bottom: 78px;

    @media (min-width: $break-md) {
      padding-bottom: 0;
    }

    a {
      display: block;
      margin: auto;
      max-width: 215px;
    }

    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }

  &__extra-menu {
    align-items: center;
    align-self: center;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
    -ms-flex-pack: end;
    justify-content: flex-end;

    @media (max-width: $break-md) {
      bottom: 50px;
      position: absolute;
      right: 15px;
      width: 100%;
    }

    a {
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__lojista {
    a {
      background-color: $red;
      color: white;
      font-family: $font-primary;
      font-weight: bold;
      margin-right: 15px;
      outline: none;
      padding: 8px 10px;
      text-decoration: none;
      text-transform: uppercase;
      @include font-size(18);
    }
  }

  &__user {
    a {
      background-image: url('../imagens/ic-user.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 40px;
      margin-right: 15px;
      vertical-align: middle;
      width: 40px;
    }
  }

  &__cart {
    margin-right: 15px;
    position: relative;

    a:first-child {
      background-image: url('../imagens/ic-moto.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 40px;
      vertical-align: middle;
      width: 58px;
    }

    a:nth-child(2) {
      background-color: #ffe600ff;
      border-radius: 90px;
      color: black;
      display: block;
      font-family: $font-stencil;
      font-weight: bold;
      height: 24px;
      left: 10px;
      line-height: 26px;
      opacity: 1;
      outline: none;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: -15px;
      width: 24px;
      @include font-size(18);
    }
  }
}

.top-search {
  &__icon {
    background-image: url('../imagens/ic-search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 40px;
  }

  &__form {
    display: none;

    fieldset {
      border: none;
    }
  }

  &__label {
    input {
      background: transparent;
      border: solid 1px white;
      padding: 8px 0 8px 4px;
      color: white;
      display: inline-block;
    }
  }

  &__btn {
    background-image: url('../imagens/ic-search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 40px;
  }

  &--open {
    .top-search__icon {
      display: none;
    }

    .top-search__form {
      display: inline;
    }
  }
}
