@import 'variables';
/*simular frete*/

#product_shipping_simulate {
  clear: both;
}

.product-shipping {
  clear: both;
  margin-top: 10px;
}

.product-shipping h4 {
  color: #666;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.product-shipping-form,
.product-shipping-qtd {
  vertical-align: middle;
}

.product-shipping-qtd input {
  width: 50px !important;
}

.product-shipping-form input {
  width: 200px !important;
}

.product-shipping-methods {
  width: 100%;
}

.product-shipping-methods thead tr th {
  padding: 10px;
}

.product-shipping-methods td {
  background: #f2f2f2 none repeat scroll 0 0;
  border-top: 1px solid #eaeaea;
  color: #666;
  padding: 10px 30px;
}

.product-top {
  display: table;
  width: 100%;
  margin-bottom: 25px;
}

/*Imagem do Produto*/

.product-image-big {
  border: 1px solid white;
  background: white;
  text-align: center;
}

.product-image-small {
  text-align: center;
  margin-top: 10px;
}

.product-image-small img {
  border: 1px solid white;
  background: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 2px;
}

/*Redes Sociais*/

.product-share {
  display: table;
  width: 100%;
  padding-top: 20px;
}


.product-share .facebook {
  float: left;
  width: 180px;
}

.fb_iframe_widget_lift {
  z-index: 15 !important;
}

.product-share .twitter {
  float: left;
  width: 90px;
}


.product-share .google {
  float: left;
  width: 70px;
}


/*Nome do Produto*/

.product-name-code {
  margin-bottom: 20px;
}

.product-name h1 {
  color: #fff;
  @include font-size(24);
  font-weight: 500;
  font-family: 'din';
  background: transparent !important;
  border: none !important;
}

/*Código do Produto*/

.product-code {
  display: block;
  font-family: 'din';
  font-weight: 500;
  font-style: italic;
  @include font-size(12);
  margin-bottom: 20px;
  color: $yellow;
}

/*Avaliação*/

.product-rating {
  display: block;
}

.product-rating a {
  color: #999;
  font-size: 11px;
  margin-left: 10px;
  vertical-align: middle;
}

.product-rating img {
  vertical-align: middle;
  margin-left: 1px;
}

/*Informação de Promoção*/

.product-promo {
  float: left;
  padding: 10px 10px 10px 0;
}

.product-promo:last-child {
  float: left;
  padding: 10px 0 10px 0;
}

/*Preço do Produto*/

.product-price-content {
  margin-bottom: 24px;

  .product-price {
    color: white;
    display: block;
    font-family: 'atami-display';
    @include font-size(24);
  }
}

.product-oldPrice {
  font-size: 12px;
}



.product-price-title {
  font-size: 28px;
  font-weight: bold;
}

.product-price-price {
  font-size: 30px;
  font-weight: bold;
}

.product-splitPrice {
  color: $yellow;
  display: block;
  font-family: $font-sec;
  font-style: italic;
  @include font-size(13);
  margin-bottom: 20px;
}

.product-splitPrice-price,
.product-splitPrice-quantity {
  color: $yellow;
  display: block;
  font-family: $font-sec;
  font-style: italic;
  @include font-size(13);
  display: inline-block;
}

.product-splitPrice-bt {
  text-decoration: none;
  background: transparent;
  border: solid 1px $yellow !important;
  color: $yellow !important;
  padding: 10px !important;
  font-family: 'din';
  @include font-size(13);
  font-weight: 500;
  border-radius: 0 !important;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

#product-splitPrice-details {
  padding: 0 10px;
}

.product-splitPrice-details-info {
  margin-top: 10px;
}

.product-splitPrice-details-info li {
  overflow: hidden;
  margin: 5px;
}

.product-splitPrice-details-image {
  float: left;
  width: 70px;
}

.product-splitPrice-details-list {
  overflow: hidden;
}

.product-splitPrice-details-list table {
  width: 100%;
  border: 1px solid #eee;
  color: #666;
  text-align: center;
}

.product-splitPrice-details-list table th {
  padding: 5px;
  color: #fff;
}

.product-splitPrice-details-list table td {
  padding: 5px;
}

/*Variantes*/

.product-variant-name {
  color: #666;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 13px;
}

.product-variant-select {
  padding: 5px 0;
  width: 300px;
}

.product-variant-select .variante_imagem_disponivel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.product-variant-select .variante_imagem_disponivel:hover {
  border: 1px solid #999;
}

.product-variant-select .variante_imagem_indisponivel {
  border: 1px solid red;
  position: relative;
}

.product-variant-select .variante_imagem_indisponivel:after {
  content: "";
  background: url("../imagens/sprite.png") no-repeat -150px -150px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  right: -7px;
}

.product-variant-select .variante_imagem_disponivel img,
.product-variant-select .variante_imagem_indisponivel img {
  display: block;
}

.product-variant-select .variante_texto_disponivel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 2px 5px;
  margin: 2px;
  font-size: 12px;
}

.product-variant-select .variante_texto_disponivel:hover {
  border: 1px solid #999;
}

.product-variant-select .variante_texto_indisponivel {
  border: 1px solid red;
  color: red;
  position: relative;
}

.product-variant-select .variante_texto_indisponivel:after {
  content: "";
  background: url("../imagens/sprite.png") no-repeat -150px -150px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  right: -7px;
}

.product-variants-bt {
  margin-top: 10px;
}

.product-variants-bt-buy {
  text-decoration: none;
  background: $yellow;
  color: $black !important;
  padding: 10px 20px;
  font-family: 'din' !important;
  @include font-size(16);
  font-weight: 500 !important;
  border-radius: 0 !important;
  text-align: center;
  display: inline-block !important;
  margin-bottom: 20px;
  cursor: pointer;
}

body .product-variants-bt-unavailable {
  display: inline-block;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: bold;
}

.product-variant-availability {
  color: #666;
  margin-top: 10px;
}

/*Descrição*/

.product-descriptions {
  margin-top: 20px;
}

.product-descriptions-titles {
  overflow: hidden;
  background: transparent !important;
}

.product-descriptions-titles li.active {
  width: 100%;
  background: transparent !important;
  padding: 0;

  h2 {
    @include font-size(24);
  }

}

.product-description {
  color: $black;
  @include font-size(13);
  line-height: 18px;
  background: white;
  padding: 25px;
  box-shadow: 15px -15px 0px 0px $red;
  margin-bottom: 70px;
}

.product-descriptions-content {
  display: none;
  transition: all 200ms ease-out 0s;
}

.product-descriptions-content.active {
  display: block;
}

/*Produto Baixo*/

.product-bottom {
  display: table;
  width: 100%;
}

/*Compre Junto*/

.bundles {
  margin-top: 10px;
  overflow: hidden;
}

.bundles ul {
  margin-top: 10px;
  overflow: hidden;
}

.bundles ul span>li {
  border-top: 1px solid #f0f0f0;
  overflow: hidden;
  margin: -1px 0 0 0;
  padding: 20px 0;
  list-style: none;
}

.bundle-products {
  float: left;
}

.bundle-product {
  float: left;
  width: 170px;
  padding: 10px;
  box-sizing: border-box;
}

.bundle-product:hover {
  background: #F0F0F0;
}

.bundle-product-select {
  height: 20px;
  color: #666;
  font-size: 11px;
}

.bundle-product-select input,
.bundle-product-select span {
  vertical-align: middle;
}

.bundle-product-image {
  border: 1px solid #dcdcdc;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.bundle-product-variants {
  height: 60px;
  margin-bottom: 5px;
}

.bundle-product-variants select {
  width: 100%;
  bordeR: 1px solid #dcdcdc;
  font-size: 11px;
  color: #666;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.bundle-product-quantity {
  color: #666;
}

.bundle-more {
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin-top: 105px;
}

.bundle-infos {
  overflow: hidden;
  padding: 20px 0 0 20px;
}

.bundle-price-content {
  padding: 20px 0;
}

.bundle-price {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.bundle-price strong {
  font-size: 20px;
}

.bundle-payInFullPrice {
  margin-bottom: 5px;
}

.bundle-bt {
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
}

/*Produtos Relacionados*/

.relatedProducts {
  margin-top: 30px !important;
}

/*Avaliação*/

.product-rate {
  &__msg {
    padding: 12px;
    text-align: center;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    @include font-size(16);
    font-family: 'din';
    color: $yellow;
    border: solid 1px $yellow;
    margin-bottom: 25px;
  }

  .form {
    margin-right: -20px;

  }

  .form-item {
    padding: 0 20px 0 0 !important;

    .form-title {
      @include font-size(12);
      font-family: 'din' !important;
      color: white !important;
      font-weight: 500 !important;
      font-style: italic !important;
    }

    input,
    textarea {
      @include font-size(12);
      font-family: 'din' !important;
      color: white !important;
      font-weight: 500 !important;
      font-style: italic !important;
      background: transparent !important;
      border: solid 1px white !important;
    }
  }

  .bt-small-primary {
    color: $black;
    padding: 13px 20px;
    background: $yellow;
    @include font-size(16);
    font-family: 'din';
    border-radius: 0;
    font-weight: 500;
  }
}


.avaliacao_estrela {
  list-style: none;
  overflow: hidden;
}

.avaliacao_estrela li {
  float: left;
  padding: 0 2px;
  cursor: pointer;
}

/*Comentários*/

.product-coments-content {
  margin-top: 20px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.product-coments-content li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.product-coments-content li:nth-child(even) {
  background: #F7F7F7;
}

.product-coment-name {
  color: #333;
  margin-bottom: 5px;
}

.product-coment-rate img {
  margin-right: 1px;
}

.product-coment-coment {
  color: #666;
  font-size: 12px;
}

.product-rate-coment textarea {
  height: 100px !important;
}

/* Produto personalizado */

.productCustomization-title {
  margin: 10px 0;
}

.box-productCustomization label {
  font-weight: normal;
}

.product-customization {
  border-top: 1px solid #acacac;
}

.form-productCustomization {
  border: 0 none;
}

.form-productCustomization .productCustomization-regulation {
  display: block;
  font-size: 12px;
  margin: 5px 0 0 12px;
  padding: 5px;
  text-decoration: underline;
}

.form-productCustomization-accept {
  font-size: 12px;
  margin-left: 14px;
}

.bundles .containerSelo {
  bottom: 0;
}

/*Lista de Presentes*/

.bt_add_lista {
  z-index: 999;
  position: relative;
}

.bt_add_lista img {
  cursor: pointer;
}

.box_listas {
  width: 390px;
  background: #FCFCFC;
  position: absolute;
  display: none;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.box_listas h6 {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.box_listas_listas {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.box_listas_listas fieldset {
  border: 0
}

.box_listas_listas fieldset label {
  display: block;
  padding: 3px 0;
  font-size: 12px;
  color: #333;
}

.box_listas_listas fieldset label * {
  vertical-align: middle;
  margin-right: 3px;
}

.box_lista_criar {
  padding: 5px 10px;
}

.box_lista_criar .criar_lista {
  color: #326AA9;
  display: table;
  padding: 3px 5px;
  cursor: pointer;
}

.box_lista_criar_formulario {
  padding: 5px 0;
  display: none;
}

.box_lista_criar_formulario label {
  color: #333;
  padding-bottom: 5px;
  display: block;
}

.box_lista_criar_formulario label span {
  display: block;
}

.box_lista_criar_formulario label input {
  padding: 2px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 11px;
  width: 200px;
  margin-top: 2px;
}


.box_lista_criar_formulario label select {
  padding: 2px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 11px;
  width: 150px;
  margin-top: 2px;
}

.box_lista_bt_criar {
  padding-top: 5px;
}

.box_lista_bt_criar a {
  display: table;
  padding: 3px 10px;
  border-radius: 3px;
}

.box_lista_salvar {
  margin: 10px 0 5px 0;
}

/* .box_lista_salvar a{
  display: table;
  color: #fff;
  background: #1A9300;
  padding: 3px 10px;
      border-radius: 3px;
}

.box_lista_salvar a:hover{
  background: #0F8200;
} */

.msg_add_lista {
  background: #F8EFD3;
  padding: 10px 10px 10px 40px;
  border: 1px solid #BCA250;
  color: #715015;
  text-align: left;
  display: table;
}

.msg_add_lista a {
  color: #715015;
  text-decoration: underline;
  margin-left: 10px;
}


/* SIMULAR FRETE E RETIRADA*/

.btnShowMethod {
  display: none;
}

.btnShowMethod.active {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #d3d3d3;
  background: #e6e6e6;
}

.boxTransportadoras.active,
.boxRetiradaNaLoja.active {
  display: block !important;

  .msg {
    display: inline-block;
    @include font-size(10);
    font-family: 'din';
    font-weight: 500;
    font-style: italic;
  }
}

.selectShippingMethod li label {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 15px;
}

.addressResum {
  font-weight: normal;
  width: 75%;
}

.addressResum p {
  margin: 0
}

.products-availability {
  color: #4CAF50;
}

.products-unavailability {
  color: #F44336;
}

.selectShippingMethod ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.selectShippingMethod ul li .check {
  display: block;
  position: absolute;
  border: 2px solid #ccc;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 13px;
  right: 8px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.selectShippingMethod ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.selectShippingMethod ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}


.selectShippingMethod input[type=radio]:checked~label .check::before {
  background: #fff;
}

.selectShippingMethod input[type=radio]:checked~label {
  border-color: #4e8132;
}

.selectShippingMethod input[type=radio]:hover~label {
  border-color: #aaa;
}

.selectShippingMethod input[type=radio]:checked~label:before {
  content: "";
  background: url(../imagens/success.png) no-repeat 0 0 scroll transparent;
  position: absolute;
  top: -8px;
  right: 5px;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: 0;
}

.selectShippingMethod input[type=radio]:checked~label .check {
  display: none;
}

.simular_frete fieldset {
  background: none;
  padding: 10px 0;
  border: none;
}

.simular_frete fieldset label.titulo-simular {
  margin: 0;
  width: 100%;
  display: none;
}

.errorPickup {
  background: #436792 !important;
  display: block;
  width: 200px;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  font-size: 13px !important;
  font-weight: normal;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  box-shadow: 0 0 5px #436792;
}

.storeSelectedCart {
  margin: 0px 10px;
  max-height: 249px;
  overflow-y: auto;
  position: relative;
}

.storeSelectedCart li:nth-child(even) {
  background: #fff;
}

.qtdStores {
  display: block;
  text-align: right;
  margin-right: 3px;
  color: #7e7e7e;
  padding-top: 4px;
  font-size: 11px;
  text-transform: lowercase;
}

.storeSelectedCart li {
  background-color: #d7d7d7;
  position: relative;
  margin: 3px;
  height: 85px;
}

.map-link {
  position: absolute;
  right: 32px;
  top: 23px;
  padding: 12px;
  font-size: 12px;
  color: #ffffff;
  background: #326aa9;
}

.fecharCalculadora {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #385a83;
  padding: 0px 7px;
  border-top-right-radius: 8px;
}

.qtdFracao {
  position: relative;
  display: block;
}

.qtdFracao .alert {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 9;
}

.qtdFracao .alert:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #faebcc;
  position: absolute;
  top: -8px;
  left: 0;
}

.boxProducts-flu .product-payInFullPrice,
.boxProducts-flu .floatQuantidade {
  display: none !important;
}

/*
.boxVariantes-show, .floatQuantidade, .product-adjustedPrice, .product-price, .unidademinima, #simulador_frete, .product-instalments{display:none;}
*/

.fas.fa-truck,
.fas.fa-store-alt {
  display: inline-block;
  color: #326aa9;
  padding: 11px;
  font-size: 35px;
}

.forget-cep {
  display: inline;
}

.forget-cep a {
  font-size: 10px;
  text-decoration: underline;
  padding: 0px 0px 0px 10px;
  vertical-align: bottom;
}

.simular_frete fieldset label input {
  background: transparent;
  border: solid 1px white;
  padding: 8px;
  @include font-size(10);
  font-family: 'din';
  font-weight: 500;
  font-style: italic;
}

.simular_bt a {
  padding: 6px;
  display: inline-block;
  font-weight: bold;
}

.forget-cep a {
  font-size: 10px;
  text-decoration: underline;
  padding: 0px 0px 0px 10px;
  vertical-align: bottom;
}

.simular_frete fieldset label.simular_bt a {
  padding: 7px;
  background: $red;
  color: white;
  font-family: 'din';
  font-weight: 500;
  @include font-size(14);
  text-transform: uppercase;
}

.simular_frete fieldset label {
  position: relative;
  top: -7px;
}

.simular_frete_resultado table td {
  background-color: #d7d7d7;
  text-align: center;
  color: #333;
  font-size: 11px;
  padding: 5px;
  border: 3px solid #eaeaea;
  margin-bottom: 7px;
}

.simular_frete_resultado table th {
  background: #e6e6e6;
  text-align: center;
  color: #333;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #e6e6e6;
  font-weight: bold;
}

.simular_frete_resultado table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.simular_frete_resultado table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

simular_frete_resultado {
  width: 100%;
}

.simular_bt a.btn-primary {
  color: #fff;
}

div.selectShippingMethod li {
  width: 98%;
}
